---
layout: default
---

<p>返回 <a href="https://chinatimeline.github.io/">主页</a>.</p>

{% var ratings = [1, 2, 3, 4, 5] %}
{% var types = ["重大历史事件",
              "文化文艺娱乐",
              "数字监控与墙",
              "建立宣传网站",
              "进驻社交媒体",
              "整治自由派社群",
              "打击学术自由",
              "干预互联网市场",
              "党团人事组织"] %}

<form method="POST" action="{{ site.staticman.api }}">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}">
  <input name="options[slug]" type="hidden" value="test-slug">
  <label>日期: <input name="fields[date]" type="date"></label><br>
  <label>事件: <br><textarea name="fields[event]" rows="12" cols="36"></textarea></label><br>
  <label>类型:
    {% for type in types %}
    <input name="fields[type]" type="radio" value="{{ t }}">{{ type }}<br>
    {% endfor %}
  </label><br>
  <label>重要性:
    {% for i in ratings %}
    <input name="fields[significance]" type="radio" value="{{ i }}"> {{ i }}
    {% endfor %}
  </label><br>
  <label>新闻链接: <input name="fields[url]" type="url"></label><br>
  <input type="submit" value="Submit">
</form>
{% include comments.html %}

<footer>
  <p><a href="https://validator.w3.org/nu/?doc={{ site.url | url_encode }}">Valid HTML5</a>
  in public domain.</p>
</footer>
