<div class="comments">
  <h3>事件</h3>
  {% assign comments = site.data.comments.test-slug | sort %}
  {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}
    <article class="comment">
      <hr>
      <div class="comment-event">
        {{ commentData.event | markdownify }}
      </div>
      <p class="comment-date">{{ commentData.date | date: "%Y-%mm-%dd" }}</p>,
      <div class="comment-type">类型：{{ commentData.type }}</div>,
      <div class="comment-significance">影响：{{ commentData.significance }}星</div>,
      <div> <a href="{{ commentData.url }}"> 相关新闻</a></div>
    </article>
  {% endfor %}
</div>
