<div>
  <h3>最近留言</h3>
  {% assign comments = site.data.comments.test-slug | sort %}
  {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}
    <article class="comments">
      <hr>
      <h4>{{ commentData.title }}</h4>
      <div class="comment-event">
        {{ commentData.message | markdownify }}
      </div>
      <p class="comment-date">
        @
        <a href="mailto:{{ commentData.email }}?subject=feedback">{{ commentData.user }}</a>,
        留言时间: {{ commentData.submitTime | date: "%Y-%m-%d"}}
       </p>
    </article>
  {% endfor %}
</div>
